*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(./Background\ Image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.logo{
    width: 100px;
}
nav{
    display: flex;
    margin-left: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover{
    color: red;
}
.c2{
    text-align: center;
    margin-top: 10%;
}
span{
    font-weight: bold;
    color: peru;
}
.c2 h1{
    font-size: 40px;
    margin-bottom: 20px;
    color:khaki;
}
.c2 p{
    line-height: 22px;
    color:white;
}
